=head_font($fs: 2em)
  #title h1
    font-size: $fs
  #title h2
    font-size: $fs*.6

=head_color($bc: #eee)
  background: transparentize($bc, .8)
  +box-shadow(0, 4px, 3px, #777)
  #title
    a
      color: $c-soil
      +text-shadow(1px, 1px, 3px, lighten($c-soil, 15%))
      &:hover
        color: lighten($c-soil, 3%)
        +text-shadow(1px, 1px, 3px, lighten($c-soil, 25%))

%head_base
  display: table-row
  height: 60px
  padding: 5px 5px 10px 5px
  margin-bottom: 3px
  #title
    display: table-cell
    +ext(f-hobo)
    width: 20%
    padding: 4px 0
    border-bottom: 1px solid lightgrey
    h1, h2
      margin-left: 4px
    a
      text-decoration: none
  #nav
    display: table-cell
