=widget_hover($bg: #ecc)
  &:hover
    +transition(.8s linear all)
    background: transparentize($bg, .7)
    border-color: lighten($c-soil, 20)
    a
      color: lighten($c-soil, 10)
    &.clicked
      background: transparentize(lighten($c-soil, 20), .3)
      a
        color: lighten($c-soil, 0)

=widget_color($bc: #eee)
  background: transparentize($bc, .8)
  .menu li.clicked
    background: transparentize(lighten($c-soil, 40), .3)
    border-color: lighten($c-soil, 20)
    a
      color: lighten($c-soil, 10)
  .menu li
    border-color: $bc
    +widget_hover(darken($bc, 30%))
    a
      color: darken(mix($bc, $c-sky, 30%), 30%)

=widget_font($ft: 2em)
  li
    height: $ft*1.2
    line-height: $ft*1.2
    a
      font-size: $ft

%widget_base
  display: block
  float: left
  width: 20%
  height: 100%
  max-height: 100%
  .menu
    padding: 0
    margin-bottom: 3px
    li
      border-bottom: 3px solid
      height: auto
    li a
      text-align: right
      display: block
      padding: 5px 0
      vertical-align: middle
