%_panel_split
  +ext(inline_block)
  +ext(full_height)
  +ext(autoflow)
  +ext(align_top)

=panel_split($w: 50%)
  +ext(_panel_split)
  width: $w

%input_glow
  input
    border: 1px solid darken($c-sky, 30)
    padding: 3px
    &:focus
      +box-shadow(inset, 0, 0, 3px, $c-sky)

%ops_fields
  li
    margin: 1px 0
  +ext(input_glow)
  .btn, .field input
    font-size: 1.2rem
    +ext(no_margin)
    +border-radius(0)
  .btn
    padding: 5px

=_lock_height($h)
  min-height: $h
  max-height: $h
  height: $h

%no_data
  .no-data:after
    content: "沒有資料"

%tasks_layout
  $h: 6%
  +ext(no_data)
  +ext(full_height)
  .ops, .scroll
    +ext(no_margin)
    +ext(no_padding)
  .ops
    +_lock_height($h)
    +ext(ops_fields)
  .scroll
    +_lock_height(100 - $h)
    +ext(autoflow)


