%tasks_layout
  ul
    min-height: 7%
  .pad
    +ext(_block)
    height: 92%
    overflow: auto

.tasks
  height: 100%
  +ext(tasks_ops)
  +ext(task_list)
  +ext(tasks_layout)
  ul
    +ext(panel_tab)
  +ext(task_forms)
  .scroll
    height: 100 - $ht
    .list, .detail
      +ext(inline_block)
      +ext(full_height)
      +ext(autoflow)
    .list
      width: 30%
    .detail
      width: 70%
