%new_group_ani_base
  &.ng-hide-remove-active, &.ng-hide-add,
  &.ng-hide-add-active, &.ng-hide-remove
    +transition(all .3s ease-in-out)
    overflow: hidden
    display: block !important
  &.ng-hide-remove
    opacity: 0
  &.ng-hide-remove-active, &.ng-hide-add
    opacity: 1
  &.ng-hide-add-active
    opacity: 0

.ops
  margin: 2% 2% 0
  li
    width: auto
    display: inline-block
    .btn
      padding: 5px
      +ext(form_btn_base)
      +form_btn_var(#cde, 1.2rem)

.new_group
  background: lighten(#cde, 10)
  margin: 1% 2.5%
  padding: 10px 5px
  +ext(form_base)
  +form_var(#cde, 1.2rem)
  +ext(new_group_ani_base)
  position: absolute
  top: 8%
  width: 95%
  z-index: 200
  .field
    width: 50%
  .field .date
    +ext(date_picker_base)
    +date_picker_var(#cde, 1.7rem)

.view
  #groups
    position: absolute
    bottom: 0
    width: 100%
    height: 90%
    overflow: auto
