%group_list_base
  width: 95%
  margin: 5px 2.5%
  +border-radius(5px)
  position: relative
  padding: 5px 0 5px 5px
  +transition(.3s all linear)
  .info, .btns
    +ext(inline_block)
    width: 48%
    vertical-align: top
  .info
    margin: 5px 0 5px
  .btns
    margin: 5px 1% 5px 0

=group_list_var($cr: #fec)
  border: 1px solid lighten($cr, 30)
  &:hover
    +transition(.3s all linear)
    background: lighten($cr, 65)

%group_field_base
  .info .name
    font-weight: bold
    margin: 3px 0
  .info .gcode
    margin: 3px 0
    color: green
    width: 300px

=group_field_var($fs: 1.3rem)
  .info .name
    font-size: $fs
  .info .gcode
    font-size: $fs * 1.2

%group_list_btn_base
  margin: 2px
  padding: 2px 0
  border: 1px solid #999
  +border-radius(3px)
  color: #999
  background: #ccc
  +transition(.2s all ease-in-out)
  &:hover
    +transition(.2s all ease-in-out)
    cursor: pointer

%group_btns
  .btns
    width: auto
    text-align: right
  .btns .btn
    +ext(rel_inline_block)
    +ext(round_it)
    +ext(slim_border)
    padding: 1%
    &:hover
      cursor: pointer
    i
      z-index: 10
      width: auto
    span
      +ext(abs_inline_block)
      +ext(font_bold)
      z-index: 30
      left: 5%
      top: 5%

=group_btns_var($cr: #cde, $fs: 1rem)
  .btns .btn
    background: lighten($cr, 10)
    border-color: $cr
    &:hover
      background: lighten($cr, 8)
    span
      font-size: $fs
      color: darken($cr, 30)
    i
      color: $cr
      font-size: $fs * 5
      &:hover
        color: darken($cr, 3)

%group_rwd
  +tablet-portrait-and-below
    .info, .btns
      width: 99%
    .btns
      margin: 5px 0 5px
      padding: 0
      text-align: left

#groups .group
  +ext(group_list_base)
  +group_list_var($c-soil)
  +ext(group_field_base)
  +group_field_var(1.3rem)
  +ext(group_rwd)
  +ext(group_controls)
  +ext(group_btns)
  +group_btns_var(lighten($c-sky, 22), 1rem)
