ul.list(ng-class="{'no-data': data.tasks.length == 0}")
  li(ng-repeat="tsk in data.tasks")
    .task(ng-mouseenter="hover_tsk(tsk)"
      ng-class="clicked_tsk(tsk)"
      ng-click="click_tsk(tsk)")
      span.title {{ tsk.title }}
      span.date {{ tsk.year }}
      .ctrls
        i.remove.fa.fa-fw.fa-times(ng-click="remove(tsk)")
        i.edit.fa.fa-fw.fa-edit(ng-click="edit(tsk)")
