.panel.bulletin
  ul.ops
    li
      .btn(ng-click="new_msg()") 新公告

  .scroll
    ul.humplist
      li(ng-repeat="msg in data.msgs")
        .item
          span.title {{ msg.title }}
          .ctrls
            i.remove.fa.fa-fw.fa-times(ng-click="del_msg(msg)")
            i.edit.fa.fa-fw.fa-edit(ng-click="edit_msg(msg)")
    .detail
      include bulletin/new.jade
