ul.ops
  li
    .field
      select(ng-model="data.type" name="list_type" ng-options="li.value as li.name for li in data.list_types")

.scroll
  include edus/list.jade

  .detail(ui-view="scroll")
    //- .map
    //-   include edus/map.jade

