include ../com/date.jade
.msg_form(ng-show=" msg_editor_visible() ")
  - var fn = "msg_form"
  form(name="#{fn}" novalidate)
    .field.top
      label(for="msg_start") 開始於
      .datepicker
        +date_picker("msg_start", "data", "sdate_opt", "msg.start_time")
        button.trigger(type="button" ng-click="open_calendar($event, 'sdate_opt')")
          i.fa.fa-fw.fa-calendar
    .field.top
      label(for="msg_end") 結束于
      .datepicker
        +date_picker("msg_end", "data", "edate_opt", "msg.end_time")
        button.trigger(type="button" ng-click="open_calendar($event, 'edate_opt')")
          i.fa.fa-fw.fa-calendar
    .field.full
      label(for="msg_title") 標題
      input(type="text" min="2" max="64" ng-model="data.msg.title")
    .field.text.full
      label(for="msg_title") 內文
      textarea(row="10" ng-model="data.msg.body")
    .controls
      button.btn(ng-click="add_msg()" ng-show=" data.new ") 新
      button.btn(ng-click="update_msg()" ng-show=" data.edit ") 改
      button.btn(ng-click="cancel_editor()") 取消
