.tasks(ui-view="scroll")
  ul.ops
    li.left
      .ck._new(ui-sref="dashboard.manager.tasks.new") 新增題目
    li 顯示方式: 
      .ck._file(ng-click="show('info')" ng-class="{'_on': is_show('info')}") 題目
    li
      .ck._stats(ng-click="show('misc')" ng-class="{'_on': is_show('misc')}") 小統計

  .scroll
    include tasks/list.jade
    .detail
      include tasks/hovered.jade
      include tasks/clicked.jade
