.tasks(ui-view="scroll")
  ul.ops
    li
      .btn(ui-sref="dashboard.manager.tasks.new") 新增
    li
      .field
        input(type="text" placeholder="題目年份查詢"
          ng-model="data.query")
    li 顯示:
      .btn(ng-click="show('info')") 題目
    li
      .btn(ng-click="show('misc')") 設定

  .scroll
    include tasks/list.jade
    .detail
      include tasks/hovered.jade
      include tasks/clicked.jade
