.tasks(ui-view="scroll")
  ul.ops
    li
      .btn(ui-sref="dashboard.manager.tasks.new") æ–°å¢

  .scroll
    ul.list
      li(ng-repeat="tsk in data.tasks")
        .task
          span.title {{ tsk.title }}
          span.date {{ tsk.year }}
          .klasses
            .klass(ng-repeat="kls in tsk.klasses")
              | {{ kls.text }}
    .detail
      p more
