.details(ui-view="details")
  .ops
    ul
      li
        .btn(ng-click="group_new()") 1.新增班級
      //- li
        //- .btn(ng-click="reload_groups()") 更新班級列表
      li
        .tip 請注意，學生經首頁註冊並加入班級後，始完成報名

  include form/new_group.jade
  include groups/group_list.jade

