include form/regrp_form.jade

.scroll#conreg
  .detail
    ul.regs
      li(ng-repeat="reg in data.list")
        .reg(ng-click="update(reg)")
          .ib._title._group {{reg.ugroup.name }}
          .ib._title._contest {{ reg.contest.name }}
          .ib._exdate {{ reg.exdate }}
          .ib._extime {{ time_map(reg.extime) }}

    //- (ui-view="scroll")
