%msgs_base
  .msgs
    +ext(f-read)
    background: rgba(200, 230, 230, .6)
    width: 50%
    margin: 30px auto
    padding: 20px
    +border-radius(10px)
    max-height: 180px
    height: 180px
    overflow: auto
    li
      border-bottom: 2px dashed lighten($c-soil, 30)
      margin-bottom: 3px
    li .title
      font-weight: bold
      font-size: 1.2rem

