=landing_font($fs: 10em)
  +headings_fs(1, 6, $fs, .2)
  .control #nav
    +font-size($fs*1.4)
  .intro
    +headings_fs(1, 6, $fs*.3, .1)
  .footer
    +font-size($fs*1.3)

%landing_typo
  +headings
    +ext(f-hobo)
    color: $c-soil
    font-weight: bold
    text-align: center
    width: 420px
    margin: auto

%landing_bg
  background-color: lighten($c-dirt, 65%)
  background-image: url("/assets/images/2014tw_bebras.png")
  background-repeat: no-repeat
  background-clip: content-box
  background-position: center 100%

%landing_fill
  width: 100%
  height: 100%
  float: left

$nav_grad_from: #fff
$nav_grad_to: #c2c7ce
%nav
  +ext(f-read)
  ul
    text-align: center
    list-style-type: none
    margin-top: 40px
  ul li
    display: inline-block
    margin: 0 20px
    font-weight: bold
    +cloud-btn(lighten($c-soil, 10%), $c-sky, $nav_grad_from, $nav_grad_to)

%header
  height: 100%
  +ext(landing_typo)
  .power
    +ext(visuallyhidden)
  h1
    padding-top: 40px

%article
  padding: 60px 15% 40px
  p
    line-height: 1.3em
    text-align: justify
    //text-indent: 2em
  +columns(2, 30)

%intro
  +ext(f-read)
  margin: 0
  height: 100%
  .article
    +ext(article)
  h1, h2
    font-weight: bold
    margin: 1em 5px .4em 0
  h1
    display: block
    text-align: center
  h2
    &:nth-child(1)
      margin-top: 0

%body
  display: inline-block
  background-color: lighten($c-soil, 65%)
  h1
    +ext(f-hobo)
  .intro
    +ext(intro)

%footer
  padding: 1rem
  text-align: center
  height: 20px
  background-color: lighten($c-soil, 5%)

%landing_base
  +ext(landing_bg)
  +ext(landing_fill)
  +landing_font(10em)
  h2
    margin: auto
    span
      display: inline-block
      width: 10%

%dimmer
  top: 0
  width: 100%
  height: 100%
  position: absolute
  background: rgba(50, 50, 50, .8)

%control_base
  .control
    #nav
      +ext(nav)
    &.dim
      +ext(dimmer)

%landing_rwd
  +tablet-portrait-only
    .intro .article
      padding: 20px 5% 20px
  +tablet-landscape-only
    .intro .article
      padding: 40px 10% 40px
  +mobile-landscape-only
    +landing_font(4em)
    +headings
      width: 170px !important
    h1
      padding-top: 20px !important
    .body .intro .article
      padding: 30px
      +columns(1, 10)
    background-size: 130% 35%
    background-position: 55% 100%
  +mobile-portrait-only
    .body .intro .article
      padding: 30px
      +columns(1, 10)
    +landing_font(5em)
    +headings
      width: 210px !important
    .control #nav
      ul
        width: 40%
        margin: auto
        li
          margin-top: 5%
          display: block
    background-size: 200% 30%
    background-position: 55% 100%

.landing
  +ext(landing_base)
  .header
    +ext(header)
    +ext(control_base)
    +ext(msgs_base)
  +ext(landing_rwd)
  .body
    +ext(body)
  .body.dim
    display: none
  .footer
    +ext(footer)
