//- div(ng-include='"components/navbar/navbar.html"')
.landing#ltop
  include view/header.jade
  .body#body(ng-class="{dim: dim_bg()}")
    include view/intro.jade
    footer.footer 2014 &copy; Bebras Taiwan
      br
      .power Powered by
        ul
          li
            a(href="http://www.ntnu.edu.tw")
              img(src="/assets/images/ntnu_sd_bebras.png")
              label NTNU
          li
            a(href="http://www.csie.ntnu.edu.tw")
              img(src="/assets/images/ntnu_csie.png")
              label NTNU-CSIE
