//- div(ng-include='"components/navbar/navbar.html"')
.landing#ltop
  .header
    .power
      .hide(ng-show="")
        | Powered By
        | National Taiwan Normal University
        | Department of Computer Science and Information Engineering
      h1 Bebras
      h2
        - var h2 = "國際運算思維能力測驗"
        - each ht in h2
          span #{ht}
    //- {{ user | json }} a
    .control(ui-view="control" ng-class="{dim: dim_bg()}")
      include view/nav.jade
    ul.msgs
      li(ng-repeat="msg in data.msgc.msgs")
        .title {{msg.title}}
        p {{ msg.body }}
  .body#body(ng-class="{dim: dim_bg()}")
    include view/intro.jade
    footer.footer
      | 2014 &copy; Bebras Taiwan
