#nav
  ul
    li
      a(du-smooth-scroll duration="1000" href="#body") 測驗介紹
    li
      a(ui-sref="tasks") 開始測驗
    li(ng-show="!loggedin()")
      a(ui-sref="session.login") 登入
    li(ng-show="loggedin()")
      a(ng-click="logout()" href="#") 登出
