#nav
  ul
    li
      a(du-smooth-scroll duration="1000" href="#body") 測驗介紹
    li
      a(ui-sref="tasks") 開始測驗
    li
      a(ng-show="!loggedin()" ui-sref="session.login")
        | 登入
        i.fa.fa-flash
      a(ng-show="loggedin()" ng-click="logout()" href="#")
        | 登出
        i.fa.fa-coffee
