$fa-font-path: "/blib/font-awesome/fonts"

//@import skeleton-sass/skeleton_template
@import font-awesome/scss/font-awesome
@import skeleton-sass/skeleton/core/_config
@import skeleton-sass/skeleton/themes/sphenoid/marrow/public
@import sass-css3-mixins/css3-mixins.sass

/**
 * App-wide Styles

.browsehappy
  margin: 0.2em 0
  background: #ccc
  color: #000
  padding: 0.2em 0

// Component styles are injected through grunt
// injector
@import lib/sass/_base/nsn.sass
@import lib/sass/_base/rwd.sass
@import lib/sass/cloud_btn.sass
@import lib/sass/drop_down.sass
@import lib/sass/growl.sass
@import form/session/theme.sass
@import appbase.sass
@import dashboard/theme/_base.sass
@import dashboard/theme/_head.sass
@import dashboard/theme/_panel.sass
@import dashboard/theme/_widget.sass
@import dashboard/theme/group/_base.sass
@import dashboard/theme/group/_date.sass
@import dashboard/theme/group/group_list.sass
@import dashboard/theme/group/roles.sass
@import dashboard/theme/main.sass
@import dashboard/theme/menu/menu.sass
@import landing/landing.sass
@import task/task.sass
// endinjector

