//div(ng-include='"components/navbar/navbar.html"')
header.header
  .container
    img(src='assets/images/2014tw_bebras.png', alt='Bebras Taiwan')

.container
  .row.
    bebras

footer.footer
  .container.
    Bebras Taiwan &copy; 2014
