ul.menu
  li(ng-repeat="item in data.menu")
    a(ui-sref="dashboard.{{user.role.name}}.{{ item.link }}" href="")
      span(title="{{item.desc}}") {{ item.name }}
      i(class="fa fa-fw fa-{{item.icon}}")
