ul.ib.lgt-stack
  li(ng-repeat="cn in data.contests")
    ._item
      .ib._title
        | {{ cn.name }}
      .ib._ctrls
        i._edit(ng-click="edit(cn)")
        i._remove(ng-click="remove(cn)")
