include ../../com/date.jade
- var fn = "new_contest"
form.contest(name="#{fn}")
  fieldset.field.half
    label(for="name") 名稱
    input#name(type="text" ng-model="data.contest.name")
  fieldset.field.half
    label(for="grading") 計分方式
    select#grading(ng-model="data.grading" ng-options="g as g.name for g in data.gradings")
  fieldset.field.half
    label(for="sdate") 開始日期
    .datepicker
      +date_picker("sdate", "data", "opt.sdate", "contest.sdate")
      button.trigger(type="button" ng-click="open_cal($event, 'sdate')")
        i.fa.fa-fw.fa-calendar
  fieldset.field.half
    label(for="edate") 結束日期
    .datepicker
      +date_picker("edate", "data", "opt.edate", "contest.edate")
      button.trigger(type="button" ng-click="open_cal($event, 'edate')")
        i.fa.fa-fw.fa-calendar
  include survey_typeahead.jade
  fieldset.field.half
    label 其它選項
    .checks
      input#demo_contest(type="checkbox" ng-model="data.contest.demo")
      label(for="demo_contest") 示範題
  include task_list_selector.jade
  .field
    .btns
      button.btn.save(ng-click="save()") 儲存
      button.btn.cancel(ng-click="cancel()") 取消
