ul.ib.lgt-stack
  li(ng-repeat="cn in data.surveys")
    ._item(ng-mouseover="set_by_hover(cn)" ng-class="clicked(cn)")
      .ib._title(ng-click="set_by_click(cn)") {{ cn.name }} ({{ cn.quests_count }})
      .ib._ctrls
        i._edit(ng-click="edit_survey(cn)")
        i._remove(ng-click="remove_survey(cn)")
