mixin info()
  .info
    .grade {{ gp.grade }} 年級
    .name {{ gp.name }} 班 ({{ klass_str(gp.klass) }})
    .gcode 班級代碼: {{ gp.gcode }}
    .exdate 預計施測時間: {{ gp.exdate }} {{ extime_str(gp.extime) }}

mixin btns()
  .btns
    .upload.btn(ui-sref="dashboard.teacher.groups.enrollments({id: gp.id})")
      i.fa.fa-fw.fa-users
      span 2.學生名單

mixin controls()
  .controls
    .fa.fa-fw.fa-times-circle.delete(
      ng-click="del_group(gp)")
    .fa.fa-fw.fa-pencil.edit(ng-click="edit_group(gp)")

ul#groups
  li(ng-repeat="gp in data.groups.list")
    .group
      +info()
      +btns()
      +controls()
