form#login
  include school_typeahead.jade

  label(for="email") 電郵 或 學號
  input#email(type="email" placeholder="@")

  label(for="password") 密碼
  input.password(type="password" placeholder="#")

  .btn
    a(ui-sref="login") 登入
  ul
    li
      a(ui-sref="landing") 重設密碼
      //a(ui-sref="landing") 以FB登入
    li
      a(ui-sref="landing") 返回
    li
      a(ui-sref="landing.register") 註冊
