include mixin/password.jade

- var fn = "resetform"
form.sform#reset(name=fn)
  +password(fn, false)
  +password(fn, true)

  button.btn.login(type="submit" ng-disabled="!resetable(#{fn})"
    ng-click="reset()") 更新密碼
  ul.links
    li
      a(ui-sref="landing") 返回
    li
      a(ui-sref="landing.register") 註冊
