include mixin/password.jade

- var fn = "resetform"
form#reset(name=fn)
  +password(fn, false)
  +password(fn, true)

  button.btn(type="submit" ng-disabled="!resetablel(#{fn})"
    ng-click="reset()") 更新密碼
  ul
    li
      a(ui-sref="landing") 返回
    li
      a(ui-sref="landing.register") 註冊
