include mixin/school_typeahead.jade
include mixin/name.jade
include mixin/email.jade
include mixin/phone.jade

- var fn = "regform"
form.sform#reg(name=fn novalidate)
  +school_ta(fn, true)
  +email(fn)
  .half
    +name_input(fn)
  .half
    +phone_input(fn)

  input#role(type="checkbox" ng-model="form.as_teacher")
  label(for="role") 註冊為教師

  //- {{ school | json }}
  //- {{ form | json }}
  //- {{ registerable(regform) | json }}
  a._back(ui-sref="landing")
  button.btn.login(type="submit" ng-disabled="!registerable(regform)"
    ng-click="register(regform)") 註冊
  ul.links
    li
      a(ui-sref="session.login") 登入
